.character-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
  /* justify-content: ; */
}

.tab {
  background-color: var(--color-parchment-semi-aged);
  width: 15rem;
  box-shadow: 0 0.25rem 0.5rem #867453;
  border-left: 0.5rem solid black;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0.5;
  overflow: hidden;

  .class {
    padding: 0.25rem 0.5rem 0.25rem 0;
    white-space: nowrap;
    text-align: right;
    opacity: 0.5;
  }

  .name {
    padding: 0 0.5rem;
    white-space: nowrap;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .close {
    position: relative;
    height: calc(var(--click-height) / 2);
    border: none;
    width: var(--click-height);
    margin-top: 1rem;
    background-color: rgb(192, 57, 43, 1);
    color: white;
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s all ease;
    opacity: 0.5;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      width: 0;
      border-right: 0.375rem solid transparent;
      border-bottom: .75rem solid rgb(192, 57, 43, 1);
      border-left: 0.375rem solid rgb(192, 57, 43, 1);
      border-top: .75rem solid transparent;
    }
  }

  &.selected {
    opacity: 1;
    .close {
      &:hover {
        opacity: 1;
      }
    }
  }
}
