.character-tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 1rem;
}

.tab {
  background-color: var(--color-parchment-semi-aged);
  width: 100%;
  box-shadow: 0 0.25rem 0.5rem #867453;
  border-left: 0.5rem solid black;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0.5;
  overflow: hidden;

  .class {
    padding: 0.25rem 0.5rem 0.25rem 0;
    white-space: nowrap;
    text-align: right;
    opacity: 0.5;
  }

  .name {
    padding: 0 0.5rem;
    white-space: nowrap;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .close {
    height: calc(var(--click-height) / 2);
    border: none;
    width: var(--click-height);
    margin-top: 1rem;
    background-color: rgb(192, 57, 43, 0.7);
    color: white;
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s all ease;
  }

  &.selected {
    opacity: 1;
    .close {
      &:hover {
        background-color: rgb(192, 57, 43, 1);
      }
    }
  }
}
