.character-meta {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}

.character-name-container {
  display: flex;
  flex-direction: row;
}

.lock-button {
  width: 7rem;
  height: var(--click-height);
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: var(--color-parchment-aged);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: rgba(60, 40, 40, 0.6);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 0;
    border-right: 0.75rem solid var(--color-parchment-aged);
    border-top: 1.5rem solid var(--color-parchment-aged);
    border-bottom: 1.5rem solid transparent;
    border-left: 0.75rem solid transparent;
  }
}

.character-class {
  font-size: 2rem !important;
  opacity: 0.5;
}

.character-descriptors {
  margin-bottom: 0.5rem;
}

.character-descriptors div {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  opacity: 0.5;
  border-radius: 0.25rem;
  background-color: var(--color-class);
  margin-right: 1rem;
}

.character-descriptors span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-parchment);
}

.character-title {
  display: inline-block;
  margin-bottom: 3rem;
}

.character-title h1 {
  display: inline-block;
  color: var(--color-ink);
  margin: 0 0 0.25rem 0;
}

.down-arrow {
  width: 100%;
  color: var(--color-class);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid currentColor;
}

.character-weapon {
  color: var(--color-ink);
}

.character-effects {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3rem;
}

.character-name {
  display: block;
  width: 100%;
  background: var(--color-parchment-aged);
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  height: var(--click-height);
}

.character-name-locked {
  flex-grow: 1;
  height: var(--click-height);
  line-height: var(--click-height);
}

.character-health {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  position: relative;

  .bar-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(192, 57, 43, 0.3);
    z-index: 0;
  }

  .bar-foreground {
    background-color: rgb(192, 57, 43);
    height: 100%;
    transition: width 0.2s ease;
    z-index: 1;
  }

  button {
    flex: 1;
    padding: 0 2rem;
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    z-index: 2;
    height: var(--click-height);

    &.left {
      text-align: left;
    }
    &.right {
      text-align: right;
    }
  }

  .text {
    margin: 0 2rem;
    letter-spacing: 0.25rem;
    z-index: 3;
  }
}

.character-ability-uses {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  position: relative;
  height: var(--click-height);

  .bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  .bar-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--color-class);
    opacity: 0.3;
    z-index: 0;
  }

  .bar-foreground {
    background-color: var(--color-class);
    height: 100%;
    transition: width 0.2s ease;
    z-index: 1;
  }

  button {
    flex: 1;
    padding: 0.25rem 2rem;
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    z-index: 2;
    height: var(--click-height);
    &.left {
      text-align: left;
    }
    &.right {
      text-align: right;
    }
  }

  .text {
    margin: 0 2rem;
    letter-spacing: 0.25rem;
    z-index: 3;
  }
}
