.character-stats {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    .stat {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;

      .label {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .value {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      button {
        padding: 0.5rem 1rem;
        height: var(--click-height);
        width: var(--click-height);
        border: none;
        background-color: var(--color-parchment-aged);
        font-weight: bold;
      }
    }
  }
}

