.nav-links {
   background-color: var(--color-parchment-dried);
   overflow: hidden;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 1rem 3rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--color-ink);
  height: 4rem;
  line-height: 2rem;
  font-size: 1.25rem;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.nav-link.active {
  background-color: var(--color-parchment);
  color: var(--color-accent-gold);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 0;
    border-right: 0.75rem solid var(--color-parchment);
    border-bottom: 2rem solid var(--color-parchment);
    border-left: 0.75rem solid transparent;
    border-top: 2rem solid transparent;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    border-right: 0.75rem solid transparent;
    border-bottom: 2rem solid var(--color-parchment);
    border-left: 0.75rem solid var(--color-parchment);
    border-top: 2rem solid transparent;
  }
}
